# SPDX-License-Identifier: GPL-2.0-only
config FUSE_FS
	tristate "FUSE (Filesystem in Userspace) support"
	select FS_POSIX_ACL
	help
	  With FUSE it is possible to implement a fully functional filesystem
	  in a userspace program.

	  There's also a companion library: libfuse.  This library is
	  available from the FUSE homepage:
	  <https://github.com/libfuse/libfuse>
	  although it may also be available from your distributor.

	  You also need userspace tools to use FUSE.  Library and tools
	  can be downloaded from the homepage.

	  If you want to develop a userspace FS, or if you want to use
	  a network filesystem based on FUSE (CABSFUSE, EncFS, SSHFS, etc.)
	  then say Y or M.  To compile the FUSE core as a module, choose M.
	  The module will be called fuse.

	  If unsure, say N.

config CUSE
	tristate "Character device in Userspace support"
	depends on FUSE_FS
	help
	  This FUSE extension allows character devices to be
	  implemented in userspace.

	  If unsure, say N.

config FUSE_VIRTIO
	bool "Virtio Filesystem"
	depends on FUSE_FS
	select VIRTIO
	help
	  The Virtio Filesystem allows guests to mount a file system
	  exported from the host.

	  If you want to share files between guests and the host, then
	  say Y or M. To compile this driver as a module, choose M. The
	  module will be called virtiofs.

	  If unsure, say N.

config FUSE_DAX
	bool "Virtio Filesystem DAX support"
	depends on FUSE_VIRTIO
	depends on FS_DAX
	help
	  Allow DAX support on Virtio Filesystem.

	  If you want to allow mounting a Virtio Filesystem with the "dax"
	  option, answer Y.

config FUSE_BPF
	bool "Adds BPF to fuse"
	depends on FUSE_FS
	depends on BPF
	help
	  Extends FUSE by adding BPF to prefilter calls and potentially pass to a
	  backing file system

config MTK_FUSE_PASSTHROUGH_MTIME_UPDATE
	bool "update file time in passthrough path"
	help
	  This is a temporary config used for mtk userdebug and eng load to fix
	  the file time issue when passthrough is used.
