# SPDX-License-Identifier: GPL-2.0
config F2FS_FS
	tristate "F2FS filesystem support"
	depends on BLOCK
	select BUFFER_HEAD
	select CRYPTO
	select CRYPTO_CRC32
	select FS_ENCRYPTION_ALGS if FS_ENCRYPTION
	select FS_VERITY_BUILTIN_SIGNATURES if FS_VERITY
	help
	  F2FS is based on Flash Friendly File System (F2FS) which supports
	  Flash NAND storage devices.

	  Please refer to Documentation/filesystems/f2fs.rst for more details.

config F2FS_STAT_FS
	bool "F2FS Status Information"
	depends on F2FS_FS
	default y
	help
	  /sys/kernel/debug/f2fs/status includes information of many internal
	  states of file system, and debug, which is suitable for tracking
	  filesystem forward progress.

	  If unsure, say Y.

config F2FS_FS_XATTR
	bool "F2FS extended attributes"
	depends on F2FS_FS
	default y
	help
	  Extended attributes are name:value pairs associated with inodes by
	  the kernel or by users (see the attr(5) manual page for details).

	  If unsure, say N.

config F2FS_FS_POSIX_ACL
	bool "F2FS POSIX Access Control Lists"
	depends on F2FS_FS_XATTR
	select FS_POSIX_ACL
	default y
	help
	  Posix Access Control Lists (ACLs) support permissions for users and
	  groups beyond the owner/group/world scheme.

	  If unsure, say N.

config F2FS_FS_SECURITY
	bool "F2FS Security Labels"
	depends on F2FS_FS_XATTR
	help
	  Security labels provide an access control facility to support
	  Linux Security Models (LSMs) accepted by Extended Attributes.
	  You'll need to enable this option if you plan to use the security
	  kernel modules, which then enable access control model (such as
	  AppArmor, SELinux, Smack, Tomoyo) on top of F2FS.

	  If unsure, say N.

config F2FS_CHECK_FS
	bool "F2FS consistency checking feature"
	depends on F2FS_FS
	help
	  Enables BUG_ON() which checks consistency of F2FS.

	  If unsure, say N.

config F2FS_FAULT_INJECTION
	bool "F2FS fault injection facility"
	depends on F2FS_FS
	help
	  Test F2FS to tolerate faults under dirty filesystem conditions.

	  If unsure, say N.

config F2FS_FS_COMPRESSION
	bool "F2FS Compression Support"
	depends on F2FS_FS
	select FS_COMPRESSION
	help
	  Support data compression using LZO/LZ4/ZSTD/LZORLE compress algorithms.

	  If unsure, say N.

config F2FS_FS_LZO
	bool "LZO compression support"
	depends on F2FS_FS_COMPRESSION
	select LZO_COMPRESS
	select LZO_DECOMPRESS
	default y
	help
	  Support LZO compress algorithm, if unsure, say Y.

config F2FS_FS_LZ4
	bool "LZ4 compression support"
	depends on F2FS_FS_COMPRESSION
	select LZ4_COMPRESS
	select LZ4_DECOMPRESS
	default y
	help
	  Support LZ4 compress algorithm, if unsure, say Y.

config F2FS_FS_LZ4HC
	bool "LZ4HC compression support"
	depends on F2FS_FS_COMPRESSION
	depends on F2FS_FS_LZ4
	select LZ4HC_COMPRESS
	default y
	help
	  Support LZ4HC compress algorithm, if unsure, say Y.

config F2FS_FS_ZSTD
	bool "ZSTD compression support"
	depends on F2FS_FS_COMPRESSION
	select ZSTD_COMPRESS
	select ZSTD_DECOMPRESS
	default y
	help
	  Support ZSTD compress algorithm, if unsure, say Y.

config F2FS_FS_LZORLE
	bool "LZO-RLE compression support"
	depends on F2FS_FS_COMPRESSION
	depends on F2FS_FS_LZO
	default y
	help
	  Support LZO-RLE compress algorithm, if unsure, say Y.

config F2FS_IOSTAT
	bool "F2FS IO statistics information"
	depends on F2FS_FS
	default y
	help
	  Support getting IO statistics through sysfs and printing out periodic
	  IO statistics tracepoint events. You have to turn on "iostat_enable"
	  sysfs node to enable this feature.

config F2FS_UNFAIR_RWSEM
	bool "F2FS unfair rw_semaphore"
	depends on F2FS_FS && BLK_CGROUP
	help
	  Use unfair rw_semaphore, if system configured IO priority by block
	  cgroup.

config MTK_F2FS_DEBUG
	bool "mtk F2FS debug patch for userdebug and eng load"
	help
	  mtk F2FS debug patch for userdebug and eng load
