# SPDX-License-Identifier: GPL-2.0-only
menu "Android"

config ANDROID_BINDER_IPC
	bool "Android Binder IPC Driver"
	depends on MMU
	default y
	help
	  Binder is an IPC mechanism which supports features such as
	  reference counting of shared objects, synchronous IPC calls
	  over shared memory, a simple shared-memory-based protocol,
	  and a process-refcounted means of exporting operations to
	  other processes.

	  If unsure, say Y.

config ANDROID_BINDERFS
	bool "Android Binderfs filesystem"
	depends on ANDROID_BINDER_IPC
	default y
	help
	  Binderfs is a pseudo-filesystem for the Android binder IPC driver
	  which can be mounted per-ipc namespace, allowing to use binder
	  in containers.

	  If unsure, say Y.

config ANDROID_BINDER_DEVICES
	string "Android Binder devices"
	depends on ANDROID_BINDER_IPC
	default "binder,hwbinder,vndbinder"
	help
	  Default value for the binder.devices parameter.

	  The binder.devices parameter is a comma-separated list of strings
	  that specifies the names of the binder device nodes that will be
	  created. Each name will correspond to a unique /dev/binder<name>
	  device node.

config ANDROID_BINDER_IPC_SELFTEST
	bool "Android Binder IPC Driver Selftest"
	depends on ANDROID_BINDER_IPC
	help
	  This feature allows binder to start a self test in order to check
	  whether a 32-bit userspace application can communicate with a 64-bit
	  kernel. If unsure, say N.

config ANDROID_VENDOR_HOOKS
	bool "Android Vendor Hooks"
	depends on TRACEPOINTS
	help
	  Enable vendor hooks in Android Common Kernel

config ANDROID_DEBUG_SYMBOLS
	bool "Android Debug Symbols"
	help
	  Enable debug symbols in Android Common Kernel

config ANDROID_KABI_RESERVE
	bool "Android KABI Reserve"
	default y
	help
	  Android KABI Reserve

source "drivers/android/binder_latency_tracer/Kconfig"

endmenu
